ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222238;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

li {
    float: left;
}

li a, .logo {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

li a .active {
    cursor: not-allowed;
    color: rgb(33, 163, 163);
}

li a:hover:not(.logo, .active) {
    color: rgb(33, 163, 163);
    transform: translateY(-5px);
}

body {
    background-color: #19192b;
}

.text-box {
    background-color: #0e0e1d;
    border-radius: 10px;    
}

.boton button {
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 2px solid rgb(13, 141, 141);
    padding: 5px 15px;
    transition: all 0.5s ease 0s;
}

button:hover {
    background-color: rgb(13, 141, 141);
}

a {
    color: rgb(33, 163, 163);
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

a:hover {
    color: rgb(13, 122, 122);
}

.why-fo-real {
    background-color: #0e0e1d;
}